.treats-explorer-item-wrapper {
  padding: 10px 10px;
  margin: 10px 10px;
  background-color: #9aceff;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.089);
  display: flex;
  flex-direction: column;
  min-height: 50px;
  justify-content: center;
}

.treats-explorer-item-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
}

.treats-explorer-items {
  margin-top: 10px;
  max-height: 50vh;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px 0 10px 10px; 
}

.type-item-point {  
  margin: 5px 5px;
  border-radius: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  
  background-color: rgb(238, 238, 238)
}

.type-item-point:hover {  
  outline: 1px solid rgba(0, 0, 0, 0.534);
  background-color: rgb(214, 214, 214);
}