.treat-explorer-wrapper {
  display: flex;
  width: 100%;
  background-color: rgb(47, 138, 224);
}

.treats-explorer-sidebar, 
.treats-explorer-board {
  background-color: rgb(219, 234, 255);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: auto;
  display: flex;
  box-shadow: 0 0 20px #00000038;
}

.treats-explorer-board {
  flex-grow: 1;
  margin-left: 0;
}

.treats-explorer-sidebar {
  width: 25%;
  flex-direction: column;
}

